<!DOCTYPE html>
<html>

<head>
    <title>Error page</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
    <div class="generic-container">
        <div class="alert alert-danger" role="alert" style="text-align: center; padding: 50px">
            <h1>Path does not exist!</h1>
        </div>
    </div>
    <script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>